.slideDiv {
  width: 375px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  top: 2rem;
}
.slideDiv > h1 {
  font-family: "Open Sans";
  font-size: 25px;
  color: #0e2368;
  font-weight: 900;
}
.hello {
  width: 800px;
  margin-left: 40px;
}
