.slideDiv {
  width: 375px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
.slideDiv > h1 {
  font-size: 35px;
  color: #0e2368;
  font-weight: 700;
}
.hello {
  width: 800px;
  margin-left: 55px;
}
